@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins-Regular"), url("Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: bold;
  src: local("Roboto-Bold"), url("Roboto-Bold.ttf") format("truetype");
}
